body {
  color: #334;
  text-align: center;
  font-family: "Arial";
  background-color: rgb(168, 184, 212);
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#cabecera {
  background: rgb(130, 130, 188);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
  color: rgb(4, 60, 92);
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  font-size: 20px;
}

#cabecera #logo {
  width: 40px;
  vertical-align: middle;
}

#cabecera #tagline {
  padding: 0 0 0 1em;
  font-weight: normal;
  font-size: 0.8em;
}

#container {
  width: 70%;
  padding: 1em;
  text-align: left;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#container h1 {
  font-size: 20px;
}

#footer {
  background: #2b3a55;
  color: #ca9e9e;
  text-align: center;
  padding: 0.5em;
}

#post {
  background: rgb(165, 161, 209);
  padding: 1em;
}
